body{
    background-color: lightblue;
}
h1{
    color: darkblue;
    text-align:center;
}
nav{
    background-color:darkblue;
    text-align:center;
    padding:15px;
}
nav a{
    font-size:25px;
    color:white;
    text-decoration:none;
    margin:30px;
}
/*Links of navigations effects*/
a:hover{
    color:yellow;
}
/*Lable hover effects*/
label:hover{
    color:gold;
}
img{
    width:240px;
    height:250px;
    border-radius:10px;
    margin:10px;
}
/*Responsive design for phone*/
@media(max-width:600px){
    nav{
        font-size:14px;
        padding:15px;
    }
    nav a{
        margin:10px;
    }
    img{
        width:100px;
        height:100px;
    }
}
/*Contact form styling*/
form {
    background-color: lightslategrey;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}
button{
    padding:10px;
    background-color:darkblue;
    color:white;
    border:none;
    border-radius:5px;
    width:150px;
    height:auto;

    box-shadow:4px 4px 10px;
    transition:0.5s;
}
/*Buttons Hover Effects*/
button:hover{
    background-color:blue;
}
footer{
    text-align:center;
    color:white;
    background-color:darkblue;
    padding:0.1px;
    margin-top:20px;
}



