body{
    background-color: lightblue;
}
h1{
    color: darkblue;
    text-align:center;
}
nav{
    background-color:darkblue;
    text-align:center;
    padding:15px;
}
nav a{
    font-size:25px;
    color:white;
    text-decoration:none;
    margin:30px;
}
/*Links of navigations effects*/
nav a:hover{
    color:yellow;
}
/*Lable hover effects*/
label:hover{
    color:gold;
}
img{
    width:240px;
    height:250px;
    border-radius:10px;
    margin:10px;
}
/*Responsive design for phone*/
@media(max-width:600px){
    nav {
        padding: 15px
    }
    nav a{
        font-size:10px;
        margin:5px;
    }
    .learnMore {
        padding: 6px 31px;
    }
        img{
        width:100px;
        height:100px;
    }
}/*Contact form styling*/
form {
    background-color: lightslategrey;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}
/*buttons styling*/
button{
    padding:10px;
    background-color:darkblue;
    color:white;
    border:none;
    border-radius:5px;
    width:150px;
    height:auto;
    box-shadow:4px 4px 10px;
    transition:0.5s;
}
/*buttons hover effects*/
button:hover {
    background-color: blue;
}
/*Learn More button styling*/
.learnMore {
    padding: 9.5px 36px;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 4px 4px 10px;
    transition: 0.5s;
}
/*Hover effect for Learn More button*/
.learnMore:hover {
    background-color: blue;
}
footer{
    text-align:center;
    color:white;
    background-color:darkblue;
    padding:0.1px;
    margin-top:20px;
}



