body{
    background-color: lightblue;
}
h1{
    color: darkblue;
    text-align:center;
}
nav{
    background-color:darkblue;
    text-align:center;
    padding:15px;
}
a{
    color:white;
    text-decoration:none;
    margin:30px;
}
a:hover{
    color:yellow;
}
img{
    border-radius:10px;
    margin:10px;
}
@media(max-width:600px){
    nav{
        font-size:14px;
    }
    img{
        width:100px;
        height:auto;
    }
}
form {
    background-color: lightslategrey;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
}
button{
    padding:10px;
    background-color:darkblue;
    color:white;
    border:none;
    border-radius:5px;
    width:150px;
    height:auto;
}
button:hover{
    background-color:blue;
}



